#####################################################################
#                           打完关机（需要时启用）
#####################################################################
#此打完关机配置 为 "必趣打完关机模块" 与 "章鱼主板"，如无模块请全部注释掉或者删除。
#使用本脚本后，在"Klipper首页-自定义宏"处出现"DWGJ_ON"与"DWGJ_OFF"
#打印前或者打印中点击 "DWGJ_ON"即开启，"DWGJ_OFF"即关闭
[gcode_macro DWGJ_ON]       # 使能打完关机
variable_dwgj_on: 0
gcode:
    SET_GCODE_VARIABLE MACRO=DWGJ_ON VARIABLE=dwgj_on VALUE=1
    {action_respond_info("DWGJ-ON-ON-ON!")}
    # 需要使用打完关机时只需点击Klipper首页的 "DWGJ_ON"按钮即开启打完关机
##--------------------------------------------------------------------
[gcode_macro DWGJ_OFF]      # 失能打完关机
gcode:
    SET_GCODE_VARIABLE MACRO=DWGJ_ON VARIABLE=dwgj_on VALUE=0
    {action_respond_info("DWGJ-OFF-OFF-OFF!")}
    # 不需要使用打完关机时只需点击Klipper首页的 "DWGJ_OFF"按钮即关闭打完关机
##--------------------------------------------------------------------
[gcode_macro M81]            # M81指令触发的同时打完关机变量使能才会执行关机
gcode:
    {% set is_shutdown = printer["gcode_macro DWGJ_ON"].dwgj_on|int %}
    {% if is_shutdown == 1 %}
        SHUT_DOWN
    {% else %}
    # 若为触发则暂时什么都不做
    {% endif %}
##--------------------------------------------------------------------
[gcode_macro SHUT_DOWN]      # 设置 SHUT_DOWN 为关机宏
gcode:
    SET_GCODE_VARIABLE MACRO=DWGJ_ON VARIABLE=dwgj_on VALUE=0 #失能打完关机
     {action_emergency_stop("Ready to shut down!!!")}         #执行软件层面关机
    UPDATE_DELAYED_GCODE ID=Delayed_SHUT_DOWN DURATION=3      #执行切断电源
##--------------------------------------------------------------------
[output_pin killbutton]      # 打完关机模块引脚
pin:P1.23           # 打完关机引脚，必须填写
value: 1            # 默认值
shutdown_value: 0  # 关机值
##--------------------------------------------------------------------
[delayed_gcode Delayed_SHUT_DOWN]  # 设置延迟关机宏
gcode:
    set_pin pin=killbutton value=0.0        # 延迟关机
##--------------------------------------------------------------------
[delayed_gcode powerOFF]           # 设置延迟执行M81宏
gcode:
    M81 value=0.0                           # 延迟执行M81

